<h1><%= title %></h1>

<form method="GET" action="/catalog/categories" class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      name="search"
      type="search"
      placeholder="Search..."
      value="<%= searchQuery %>"
    />
    <button class="btn btn-primary my-2 my-sm-0" type="submit">
      Search
    </button>
</form>

<a href="/catalog/category/create" class="btn btn-primary">Add Category</a>

<% if (category_list.length) { %>
    <ul>
        <% category_list.forEach(category => { %>
            <li>
                <a href="/catalog/<%= category.url %>"><%= category.name %></a>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>There are no categories.</p>
<% } %>
