<h1><%= title %></h1>

<a href="/catalog/category/create">Add Category</a>

<% if (category_list.length) { %>
    <ul>
        <% category_list.forEach(category => { %>
            <li>
                <a href="/catalog/<%= category.url %>"><%= category.name %></a>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>There are no categories.</p>
<% } %>
