<div class="hero-banner d-flex align-items-center pb-2">
    <div class="container text-light">
        <h1><%= title %></h1>
        <p class="w-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed metus ac nisl sodales elementum. Morbi sit amet risus rutrum, pulvinar odio ac, eleifend justo. Aliquam vel lacinia lacus. Fusce tincidunt quam at magna dictum, nec dignissim massa suscipit.</p>
        <a href="">See More...</a>
    </div>
</div>
