<h1><%= title %></h1>

<a href="/catalog/product/create">Add Product</a>

<% if (product_list.length) { %>
    <ul>
        <% product_list.forEach(product => { %>
            <li>
                <a href="/catalog/<%= product.url %>"><%= product.name %></a>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>There are no products.</p>
<% } %>
